/* CSS modules are a way create css styles 
that afffect only a specific component.

This prevents name clashing of style classes or ids
defined in global css files.

This is an approach is supported by apps created using vite or create react. 

By convention the naming of these CSS module files must follow the convention
{name-of-component}.module.css where {name-of-component} must be the name of the component
followed by .module.css

This tells vite or create react that you want to use the CSS Module feature
*/


.post {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #9c7eee;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  animation: animate-in 1s ease-out forwards;
}

.author {
  font-size: 0.8rem;
  font-weight: bold;
  color: #543280;
  margin: 0;
  text-transform: uppercase;
}

.text {
  white-space: pre-wrap;
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
  color: #593884;
  font-style: italic;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Note: */
/*
rem (root em):

Relative unit.
1 rem equals the font size of the root (<html>) element (usually 16px by default).
If the root font size changes (for accessibility or user preference), 
all rem-based sizes scale accordingly.
*/